table th {
    white-space: nowrap;
}

span.slash {
    opacity: 0.6;
    display: inline-block;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.breadcrumb.folders {
    background: None;
    padding: 0;
    margin-bottom: 8px;
}

.breadcrumb.folders>li+li:before {
    padding: 0;
}

.icon-folder,
.icon-folder-open,
.icon-file,
.icon-function,
.icon-variable {
    position: relative;
    padding-left: 20px;
    background: none;
}

.icon-folder::before,
.icon-folder-open::before,
.icon-file::before,
.icon-function::before,
.icon-variable::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.icon-folder::before { content: "📁"; }
.icon-folder-open::before { content: "📂"; }
.icon-file::before { content: "📄"; }
.icon-function::before { content: "𝑓"; font-weight: 700; }
.icon-variable::before { content: "𝑥"; font-weight: 700; }

.col_size {
    text-align: right;
}

th {
    background-color: rgba(0, 0, 0, 0.02);
}

th.col_size {
    min-width: 5em;
}

th a.sortable {
    position: relative;
    display: block;
    color:black;
}

th a.sortable:hover {
    text-decoration: none;
}

th a.sortable:after {
    position: absolute;
    right: 4px;
    top: 0;
    display: block;
    opacity: 0.15;
    content: "⇅";
}

th a.sortable:hover:after {
    opacity: 1;
}

th.col_size .sortable:after {
    left: 4px;
    right: auto;
}

th a.sort_asc:after { opacity: 0.5; content: "↑"; }
th a.sort_asc_alpha:after { opacity: 0.5; content: "↑"; }
th a.sort_desc:after { opacity: 0.5; content: "↓"; }
th a.sort_desc_alpha:after { opacity: 0.5; content: "↓"; }

.secondary {
    opacity: 0.6;
}