{% extends "base.html.jinja" %}
{% block title %}All Symbols{% endblock %}
{% block page_header %}<h1>All Symbols</h1>{% endblock %}
{% block content %}

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>File</th>
                <th>Code Size</th>
                <th>Var Size</th>
            </tr>
        </thead>
        <tbody>
        {% for symbol in all_symbols %}
            <tr>
            <td><a href="{{ symbol | symbol_url }}">{{ symbol.name | e}}</a></td>
            <td><a href="{{ symbol | symbol_file_url }}">{{ symbol.base_file | e}}</a></td>
            <td>{{ symbol | symbol_code_size }}</td>
            <td>{{ symbol | symbol_var_size }}</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

{% endblock %}