<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <title>{% block title %}{% endblock %} - puncover</title>
    {% endblock %}
</head>
<body>
    <div class="container" id="content">
        <div class="page-header">
            {% block page_header %}{% endblock %}
        </div>
        {% block content %}{% endblock %}
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2014 by me.
        {% endblock %}
    </div>
    </div>
</body>
</html>