{% extends "base.html.jinja" %}
{% block title %}Folder{% endblock %}
{% block content %}
    <h1>
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
        {% for ancestor in folder.ancestors | reverse %}
            <a href="{{ ancestor | symbol_url }}">{{ ancestor.name }}</a>{{ SLASH }}
        {% endfor %}
        {{ folder.name }}
    </h1>

    {% import 'lists.html.jinja' as lists with context %}
    {{ lists.directory(folder.sub_folders, folder.files) }}
{% endblock %}