{% extends "base.html.jinja" %}
{% block content %}
    <ul>
    {% for symbol in functions_with_size[:10] %}
        <li><a href="{{ symbol|symbol_url }}">{{ symbol.name|e }} {{ '(%d)' % symbol.size if symbol.size}}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
