{% extends "base.html.jinja" %}
{% block content %}
    <ul>
    {% for symbol in symbols_with_size[:10] %}
        <li>{{ symbol|symbol_url }} {{ symbol.name|e }} {{ '(%d)' % symbol.size if symbol.size}}</li>
    {% endfor %}
    </ul>
{% endblock %}
