<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>puncover</title>
</head>
<body>
    <h1>{{ symbol.name }}</h1>
    {{ symbol.stack_size }} {{ symbol.stack_qualifiers }}
    {{ symbol.base_file }}:{{ symbol.line }}
    <pre>
        {% for line in symbol.asm %}{{ line }}
        {% endfor %}
    </pre>
</body>
</html>