{% extends "base.html.jinja" %}
{% block title %}Symbol{% endblock %}
{% block content %}
    <h1>{{ symbol.name }}</h1>
    {{ symbol.stack_size }} {{ symbol.stack_qualifiers }}
    {{ symbol.base_file }}:{{ symbol.line }}
    <pre>
        {% for line in symbol.asm %}{{ line }}
        {% endfor %}
    </pre>
{% endblock %}