{% extends "base.html.jinja" %}
{% block title %}Single File{% endblock %}
{% block content %}
    <h1>
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        {% for ancestor in file.folder.ancestors | reverse %}
            <a href="{{ ancestor | symbol_url }}">{{ ancestor.name | e}}</a>{{ SLASH }}
        {% endfor %}

        <a href="{{ file.folder | symbol_url }}">{{ file.folder.name | e}}</a>{{ SLASH }}
        {{ file.name | e}}
    </h1>
    {% if file.functions | length <= 0 %}
        <h2>No Functions</h2>
    {% else %}
        <h2>Functions</h2>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>cross module</th>
                    <th>Code Size</th>
                    <th>Stack Size</th>
                </tr>
            </thead>
            <tbody>
                {% for symbol in file.functions %}
                <tr>
                    <td><a href="{{ symbol | symbol_url }}">{{ symbol.display_name |e }}</a></td>
                    <td>
                        {% if symbol.called_from_other_file %}<span class="label label-success">yes</span>{% endif %}
                        {% if symbol.calls_float_function %}<span class="label label-warning">calls float</span>{% endif %}
                    </td>
                    <td>{{ symbol.size }}</td>
                    <td>{{ symbol.stack_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% if file.functions | length > 1 %}
            <tfoot>
                <tr>
                <th colspan="2">&sum; over all</th>
                <th>{{ file.functions | symbol_code_size }}</th>
                <th></th>
                </tr>
            </tfoot>
            {% endif %}

        </table>
    {% endif %}

    {% if file.variables | length <= 0 %}
    <h2>No Static Variables</h2>
    {% else %}
    <h2>Static Variables</h2>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            {% for var in file.variables[:10] %}
             <tr>
                <td>{{ var.display_name |e }}</td>
                <td>{{ var | symbol_var_size}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% if file.variables | length > 1 %}
        <tfoot>
            <tr>
            <th>&sum; over all</th>
            <th>{{ file.variables | symbol_var_size }}</th>
            </tr>
        </tfoot>
        {% endif %}
    </table>
    {% endif %}



{% endblock %}
