{% extends "base.html.jinja" %}
{% block title %}Single File{% endblock %}
{% block content %}
    <ol class="breadcrumb folders">
        {% for ancestor in file.folder.ancestors | reverse %}
        <li><a href="{{ ancestor | symbol_url }}">{{ ancestor.name | e}}</a></li>
        {% endfor %}
        <li><a href="{{ file.folder | symbol_url }}">{{ file.folder.name | e}}</a></li>
        <li class="active">{{ file.name | e}}</li>
    </ol>

    {% import 'lists.html.jinja' as lists with context %}

        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th width="100%">Name</th>
                    <th>Remarks</th>
                    <th class="col_size">Stack</th>
                    <th class="col_size">Code</th>
                    <th class="col_size">Static</th>
                </tr>
            </thead>

            <tbody>

{# functions #}
                {% set group_code_size = file.functions | symbol_code_size %}
                {% set group_var_size = file | symbol_var_size %}
                {% for symbol in file.functions %}
                <tr>
                    <td><a href="{{ symbol | symbol_url }}" class="icon-function">{{ symbol.display_name |e }}</a></td>
                    <td>
                        {% if symbol.called_from_other_file %}<span class="label label-success">x-module</span>{% endif %}
                        {% if symbol.calls_float_function %}<span class="label label-warning">calls float</span>{% endif %}
                    </td>
                    <td class="col_size">{{ symbol.stack_size | bytes }}</td>
                    <td class="col_size" style="{{ symbol.size | style_background_bar(group_code_size, lists.color_bar_code) }}">
                    {{ symbol.size | bytes }}
                    </td>
                    <td class="col_size"></td>
                </tr>
                {% endfor %}
            {% if file.functions | length > 1 and file.variables | length > 0 %}
                <tr>
                    <th colspan="3">&sum; {{ file.functions | length }} functions</th>
                    <th class="col_size">{{ file.functions | symbol_code_size | bytes }}</th>
                    <th></th>
                </tr>
            {% endif %}

{# static vars #}
            {% for var in file.variables %}
             <tr>
                <td colspan="4"><span class="icon-variable">{{ var.display_name |e }}</span></td>
                <td class="col_size" style="{{ var | symbol_var_size | style_background_bar(group_var_size, lists.color_bar_var) }}">
                    {{ var | symbol_var_size | bytes }}
                </td>
            </tr>
            {% endfor %}
        {% if file.variables | length > 1 and file.functions | length > 0 %}
            <tr>
                <th colspan="4">&sum; {{ file.variables | length }} variables</th>
                <th class="col_size">{{ file.variables | symbol_var_size | bytes }}</th>
            </tr>
        {% endif %}
            </tbody>

        <tfoot>
            <tr>
            <th colspan="3">&sum; over all
                ({{ file.functions | length }} function{{ 's' if file.functions | length != 1}},
                 {{ file.variables | length }} variable{{ 's' if file.variables | length != 1}})

            </th>
            <th class="col_size">{{ file | symbol_code_size | bytes}}</th>
            <th class="col_size">{{ file | symbol_var_size | bytes}}</th>
            </tr>
        </tfoot>

        </table>

{% endblock %}
