{% set color_bar_code = 'rgba(0,0,255,0.07)' %}
{% set color_bar_var = 'rgba(255, 0, 0, 0.07)' %}

{% macro directory(folders, files) -%}
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th width="100%">Name</th>
                <th>Remarks</th>
                <th class="col_size">Code</th>
                <th class="col_size">Static</th>
            </tr>
        </thead>
        <tbody>
            {% set group_code_size = folders | symbol_code_size %}
            {% set group_var_size = folders | symbol_var_size %}
            {% for folder in folders %}
            <tr>
                <td>
                    <a href="{{ folder | symbol_url }}" class="icon-folder">
                        &nbsp;{{ folder.name | e}}
                    </a>
                </td>
                <td>{% if folder.calls_float_function %}<span class="label label-warning">calls float</span>{% endif %}</td>
                <td class="col_size" style="{{ folder | symbol_code_size | style_background_bar(group_code_size, color_bar_code) }}">
                    {{ folder | symbol_code_size | bytes }}
                </td>
                <td class="col_size" style="{{ folder | symbol_var_size | style_background_bar(group_var_size, color_bar_var) }}">
                    {{ folder | symbol_var_size | bytes }}
                </td>
            </tr>
            {% endfor %}
            {% if folders | length > 1 and files | length > 0 %}
                <tr>
                <th>&sum; {{ folders|length }} folders</th>
                <th></th>
                <th class="col_size">{{ group_code_size | bytes }}</th>
                <th class="col_size">{{ group_var_size | bytes }}</th>
                </tr>
            {% endif %}

            {% set group_code_size = files | symbol_code_size %}
            {% set group_var_size = files | symbol_var_size %}
            {% for file in files %}
            <tr>
                <td>
                    <a href="{{ file | symbol_url }}" class="icon-file">
                        &nbsp;{{ file.name | e}}
                    </a>
                </td>
                <td>{% if file.calls_float_function %}<span class="label label-warning">calls float</span>{% endif %}</td>
                <td class="col_size" style="{{ file | symbol_code_size | style_background_bar(group_code_size, color_bar_code) }}">
                    {{ file | symbol_code_size | bytes}}
                </td>
                <td class="col_size" style="{{ file | symbol_var_size | style_background_bar(group_var_size, color_bar_var) }}">
                    {{ file | symbol_var_size | bytes}}
                </td>
            </tr>
            {% endfor %}
            {% if files | length > 1 and folders | length > 0 %}
                <tr>
                    <th>&sum; {{ files|length }}  files</th>
                    <th></th>
                    <th class="col_size">{{ group_code_size | bytes}}</th>
                    <th class="col_size">{{ group_var_size | bytes}}</th>
                </tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
            <th colspan="2">&sum; over all
                ({{ folders | length }} folder{{ 's' if folders | length != 1}},
                 {{ files | length }} file{{ 's' if files | length != 1}})
            </th>
            <th class="col_size">{{ files | chain(folders) | symbol_code_size | bytes}}</th>
            <th class="col_size">{{ files | chain(folders) | symbol_var_size | bytes}}</th>
            </tr>
        </tfoot>

    </table>
{%- endmacro %}

{% macro function_stats(functions, stack_base=0) -%}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th rowspan="2">#</th>
                <th colspan="2">Stack Size</th>
                <th colspan="2">Code Size</th>
                <th rowspan="2">Name</th>
            </tr>
            <tr>
                <th>&sum; = {{ functions |symbol_stack_size(stack_base) }}</th>
                <th></th>
                <th>&sum;= {{ functions | unique | symbol_code_size }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for function in functions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{% if stack_base or not loop.last %}
                    {% if function.stack_size  %}
                    {{ functions[loop.index - 1:] | symbol_stack_size(stack_base) | if_not_none }}
                    {% endif %}
                    {% endif %}
                </td>
                <td>
            {% if function.stack_size %}
                {{ function.stack_size }} {% if function.stack_qualifiers != "static" %}({{ function.stack_qualifiers }}){% endif %}
            {% endif %}
                </td>
                <td>
                    {% if not loop.last %}
                    {% if functions[loop.index - 1:] | unique | symbol_code_size != functions[loop.index:] | unique | symbol_code_size %}
                    {{ functions[loop.index - 1:] | unique | symbol_code_size }}
                    {% endif %}
                    {% endif %}
                </td>
                <td>{{ function | symbol_code_size }}</td>
                <td><a href="{{ function | symbol_url }}">{{ function.display_name | e}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
        {% if stack_base %}
        <tfoot>
            <tr>
                <th></th>
                <th>{{ stack_base }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        {% endif %}
    </table>
{%- endmacro %}