{% macro directory(folders, files) -%}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th>Code</th>
                <th>Static Variables</th>
            </tr>
        </thead>
        <tbody>
            {% for folder in folders %}
            <tr>
                <td>
                    <a href="{{ folder | symbol_url }}">
                        <div>
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        &nbsp;{{ folder.name | e}}
                        </div>
                    </a>
                </td>
                <td>{% if folder.calls_float_function %}<span class="label label-warning">calls float</span>{% endif %}</td>
                <td>
                    {{ folder | symbol_code_size }}
                </td>
                <td>
                    {{ folder | symbol_var_size }}
                </td>
            </tr>
            {% endfor %}
            {% if files | length > 0 and folders | length > 0 %}
                <tr>
                <th>&sum; over folders</th>
                <th></th>
                <th>{{ folders | symbol_code_size }}</th>
                <th>{{ folders | symbol_var_size }}</th>
                </tr>
            {% endif %}

            {% for file in files %}
            <tr>
                <td>
                    <a href="{{ file | symbol_url }}">
                        <div>
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        &nbsp;{{ file.name | e}}
                        </div>
                    </a>
                </td>
                <td>{% if file.calls_float_function %}<span class="label label-warning">calls float</span>{% endif %}</td>
                <td>
                    {{ file | symbol_code_size }}
                </td>
                <td>
                    {{ file | symbol_var_size }}
                </td>
            </tr>
            {% endfor %}
            {% if files | length > 0 and folders | length > 0 %}
                <tr>
                    <th>&sum; over files</th>
                    <th></th>
                    <th>{{ files | symbol_code_size }}</th>
                    <th>{{ files | symbol_var_size }}</th>
                </tr>
            {% endif %}
        </tbody>
        {% if files | length > 0 or folders | length > 0 %}
            <tfoot>
                <tr>
                <th>&sum; over all</th>
                <th></th>
                <th>{{ files | chain(folders) | symbol_code_size }}</th>
                <th>{{ files | chain(folders) | symbol_var_size }}</th>
                </tr>
            </tfoot>
        {% endif %}

    </table>
{%- endmacro %}

{% macro function_stats(functions, stack_base=0) -%}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th rowspan="2">#</th>
                <th colspan="2">Stack Size</th>
                <th colspan="2">Code Size</th>
                <th rowspan="2">Name</th>
            </tr>
            <tr>
                <th>&sum; = {{ functions |symbol_stack_size(stack_base) }}</th>
                <th></th>
                <th>&sum;= {{ functions | unique | symbol_code_size }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for function in functions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{% if stack_base or not loop.last %}
                    {% if function.stack_size  %}
                    {{ functions[loop.index - 1:] | symbol_stack_size(stack_base) | if_not_none }}
                    {% endif %}
                    {% endif %}
                </td>
                <td>
            {% if function.stack_size %}
                {{ function.stack_size }} {% if function.stack_qualifiers != "static" %}({{ function.stack_qualifiers }}){% endif %}
            {% endif %}
                </td>
                <td>
                    {% if not loop.last %}
                    {% if functions[loop.index - 1:] | unique | symbol_code_size != functions[loop.index:] | unique | symbol_code_size %}
                    {{ functions[loop.index - 1:] | unique | symbol_code_size }}
                    {% endif %}
                    {% endif %}
                </td>
                <td>{{ function | symbol_code_size }}</td>
                <td><a href="{{ function | symbol_url }}">{{ function.display_name | e}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
        {% if stack_base %}
        <tfoot>
            <tr>
                <th></th>
                <th>{{ stack_base }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        {% endif %}
    </table>
{%- endmacro %}