{% extends "base.html.jinja" %}
{% block title %}Symbol{% endblock %}
{% block page_header %}
    <h1>
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
        {{ symbol | symbol_display_name }}
    </h1>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>File name</th>
                <td>
                    {% if symbol.base_file %}
                    <code><a href="{{ symbol | symbol_file_url }}">{{ symbol.base_file|e }}</a>:{{ symbol.line }}</code>
                    {% else %}
                    unknown file
                    {% endif %}

                (0x{{ symbol.address }})
                </td>
            </tr>
            <tr>
                <th>Function size</th>
                <td>
                    {% if symbol.size %}
                        {{ symbol.size }} bytes
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Stack size</th>
            {% if symbol.stack_size %}
                <td>{{ symbol.stack_size }} bytes ({{ symbol.stack_qualifiers }})</td>
            {% else %}
                <td>Unknown</td>
            {% endif %}
            </tr>
            <tr>
                <th>{% if symbol.callers | length <= 0 %}No Callers{% else %}Callers ({{ symbol.callers | length }}){% endif %}</th>
                <td>
                {% for function in symbol.callers %}
                    <a href="{{ function|symbol_url }}">{{ function | symbol_display_name |e }} {{ '(%d)' % function.size if function.size}}</a>
                    {% if not loop.last %}
                        ,
                    {% endif %}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>
                    {% if symbol.callees | length <= 0 %}No Callees
                    {% else %}Callees ({{ symbol.callees | length  }}{% if symbol.callees|sum(attribute='size') %},
                            <span title="sum of used bytes by all callees">
                            &Sigma;={{ symbol.callees|sum(attribute='size') }}
                            </span>
                        {% endif %})
                    {% endif %}
                </th>
                <td>
                {% for function in symbol.callees %}
                    <a href="{{ function|symbol_url }}">{{ function | symbol_display_name |e }} {{ '(%d)' % function.size if function.size}}</a>
                    {% if not loop.last %}
                        ,
                    {% endif %}
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
{% block content %}
    {% if symbol.prev_function %}
    <pre><a href="{{ symbol.prev_function|symbol_url }}">{{ symbol.prev_function | symbol_display_name |e }} {{ '(%d)' % symbol.prev_function.size if symbol.prev_function.size}}</a></pre>
    {% endif %}
    <pre>
{% for line in symbol.asm %}{{ line | e | assembly }}
{% endfor %}</pre>
    {% if symbol.next_function %}
    <pre><a href="{{ symbol.next_function|symbol_url }}">{{ symbol.next_function | symbol_display_name |e }} {{ '(%d)' % symbol.next_function.size if symbol.next_function.size}}</a></pre>
    {% endif %}

{% import 'lists.html.jinja' as lists with context %}

    {% if (symbol.deepest_caller_tree[1] | length > 1) or (symbol.deepest_callee_tree[1] | length > 1) %}
        <h1>Stack Worst-Case Scenarios</h1>
        {% if symbol.deepest_callee_tree[1] | length > 1 %}
        {{ lists.function_stats(symbol.deepest_callee_tree[1][1:] | reverse | list, stack_base=symbol.deepest_caller_tree[1]|symbol_stack_size) }}
        {% else %}
            <p>No callees for this function.</p>
        {% endif %}
        {% if symbol.deepest_caller_tree[1] | length > 1 %}
        {{ lists.function_stats(symbol.deepest_caller_tree[1]) }}
        {% else %}
            <p>No callers for this function.</p>
        {% endif %}
    {% endif %}

{% endblock %}

